<main class="w-100 min-vh-100 mt-5 position-relative" style="top:15px">
  <div class="container-fluid">
    <nav style=" --bs-breadcrumb-divider: '>'; " aria-label="breadcrumb">
      <ol class="breadcrumb w-100 border-bottom pb-3">
        <li class="breadcrumb-item">Home</li>
        <li
          class="breadcrumb-item active text-capitalize"
          aria-current="page"
        >daily booking</li>
      </ol>
    </nav>
  </div>
  <div class="container d-flex justify-content-evenly flex-wrap">

    {{#each data}}
      <div class="card text-center my-5" style="width: 24rem;">
        <div class="card-header">
          MT-{{bookingID}}
        </div>
        <div class="card-body d-flex justify-content-between">
          <div class="left d-flex align-items-start flex-column">
            <h6 class="card-title">Title </h6>
            <p class="card-text text-capitalize">description </p>
            <p class="card-text text-capitalize">room </p>
            <p class="card-text text-capitalize">start </p>
            <p class="card-text text-capitalize">end </p>
            <p class="card-text text-capitalize">completed </p>
          </div>
          <div class="right d-flex align-items-start flex-column">
            <h6 class="card-title">: {{title}}</h6>
            <p class="card-text text-capitalize">: {{description}}</p>
            <p class="card-text text-capitalize">: {{room}}</p>
            <p class="card-text text-capitalize">:
              {{moment start format="DD-MM-YYYY | HH:mm"}}</p>
            <p class="card-text text-capitalize">:
              {{moment end format="DD-MM-YYYY | HH:mm"}}</p>
            <p>{{#if isCompleted}} Done {{else}} Not Done {{/if}}</p>

          </div>

        </div>
        <div class="card-footer text-body-secondary">
          {{created}}
        </div>
      </div>
    {{/each}}
  </div>
</main>